# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.to_excel("debug.xlsx")

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [16]:
school_data_complete.head()

total_numer_of_schools = max(school_data_complete["School ID"])
total_numer_of_students = max(school_data_complete["Student ID"])
# budget_numbers = []

# pastnumber = 0

# school_data_complete_tolist=school_data_complete["budget"].tolist()
# # print(school_data_complete)

# for numbers in school_data_complete_tolist:
#     # print(numbers )
#     if numbers != pastnumber:
#             budget_numbers.append(numbers)        
# #             print(numbers)
#     pastnumber = numbers

# budget_numbers = pd.Series(budget_numbers)


average_math_score = school_data_complete["math_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()
total_budget =school_data_complete["budget"].unique().sum()
passing_math = [school_data_complete["math_score"] > 70]
# passing_reading =school_data_complete[school_data_complete["reading_score"] > 70].mean()

passing_math


# district_summary = pd.DataFrame({"Total Schools" : [total_numer_of_schools + 1],
#                                 "Total Students" : [total_numer_of_students + 1],
#                                  "Total Budget" : [total_budget],
#                                  "Average Math Score" : [average_math_score],
#                                  "Average Reading Score" : [average_reading_score],
#                                  "%Passing Math" : [passing_math],
#                                  "%Passing Reading" : [passing_reading],
#                                 })

# district_summary.head()

[0         True
 1        False
 2        False
 3        False
 4         True
 5         True
 6         True
 7        False
 8         True
 9         True
 10       False
 11        True
 12        True
 13        True
 14       False
 15        True
 16       False
 17        True
 18       False
 19        True
 20        True
 21        True
 22        True
 23       False
 24        True
 25       False
 26        True
 27       False
 28       False
 29        True
          ...
 39140     True
 39141     True
 39142     True
 39143     True
 39144     True
 39145     True
 39146     True
 39147     True
 39148     True
 39149     True
 39150     True
 39151     True
 39152     True
 39153     True
 39154     True
 39155     True
 39156     True
 39157     True
 39158     True
 39159     True
 39160     True
 39161     True
 39162     True
 39163     True
 39164     True
 39165     True
 39166    False
 39167     True
 39168     True
 39169     True
 Name: math_score, Length: 39170, dtype: bool]

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.