### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
## storing all the unique screan names then count the length of it 
purchase_data_count = purchase_data["SN"].unique()
purchase_data_count ={"Total Players" : [len(purchase_data_count)]}
number_of_players = pd.DataFrame(purchase_data_count)
number_of_players

# A seriously gigantic DataFrame of individuals' names, their trainers, their weight, and their days as gym members

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
# pd.options.display.float_format = '${:,.2f}'.format
unique_items = len(purchase_data["Item ID"].unique())
avg_price = purchase_data["Price"].mean()
num_purchase = purchase_data["Purchase ID"].max() + 1
total_rev = purchase_data["Price"].sum()
fillwith = {"Number of Unique Items": [unique_items],
           "Average Price": ['${:,.2f}'.format(avg_price)],
           "Number of Purchases": [num_purchase],
           "Total Revenue": ['${:,.2f}'.format(total_rev)]}
purchase_analysis = pd.DataFrame(fillwith)
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
demographics = purchase_data[["SN", "Gender"]]
demographics = demographics.drop_duplicates()
demographics = demographics.groupby("Gender").count()

maleCount = demographics.loc["Male", "SN"]
femaleCount = demographics.loc["Female", "SN"]
otherCount = demographics.loc["Other / Non-Disclosed", "SN"]
total_count = maleCount + femaleCount + otherCount


# type(femaleCount)
# maleCount = demographics.loc["Male"]
# femaleCount = demographics.loc["Female"]



fillwith = {"": ["Male", "Female", "Other / Non-Disclosed"],
            "Total Count": [maleCount, femaleCount, otherCount],
            "Percentage of Players": ['{:,.2f}'.format((maleCount/total_count*100)),'{:,.2f}'.format((femaleCount/total_count*100)),'{:,.2f}'.format((otherCount/total_count*100))]}

gender_demographics = pd.DataFrame(fillwith)
gender_demographics = gender_demographics.set_index("")
gender_demographics

                       Total Count Percentage of Players

Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_demographics["Total Count"]

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Total Count, dtype: int64

In [7]:
purchase_data.head()

purchase_anlysis_gender = purchase_data[["Gender", "Price"]]


purchase_anlysis_gender = purchase_anlysis_gender.groupby("Gender")

purchase_count = purchase_anlysis_gender.count()
sum_of_counts = purchase_anlysis_gender.sum()


# tofill = {purchase_count}
purchase_anlysis_gender_df = pd.merge(purchase_count,sum_of_counts, on="Gender")
purchase_anlysis_gender_df = purchase_anlysis_gender_df.rename(columns = {"Price_x": "Purchase Count",
                                           "Price_y":"Total Purchase Value"})

average_purchase_price = purchase_anlysis_gender_df["Total Purchase Value"] / purchase_anlysis_gender_df["Purchase Count"] 
purchase_anlysis_gender_df = pd.merge(purchase_anlysis_gender_df,average_purchase_price.to_frame("Average Purchase Price"), on = "Gender")
purchase_anlysis_gender_df["Avg Total Purchase per Person"] = purchase_anlysis_gender_df["Total Purchase Value"]/gender_demographics["Total Count"]
purchase_anlysis_gender_df["Average Purchase Price"] = purchase_anlysis_gender_df["Average Purchase Price"].map("${:.2f}".format)
purchase_anlysis_gender_df["Avg Total Purchase per Person"]  = purchase_anlysis_gender_df["Avg Total Purchase per Person"] .map("${:.2f}".format)
purchase_anlysis_gender_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,361.94,$3.20,$4.47
Male,652,1967.64,$3.02,$4.07
Other / Non-Disclosed,15,50.19,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# #aa = pd.cut(age_gender_unique_df["Age"], bins, labels=group_names)

# hp_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
# hp_labels = ["<10", "10-14", "15-19", "20-24","25-29","30-34", "30-35", "40+"]

# # Bin the Horsepower column
# # cut() returns a Pandas Series containing each of the binned column"s values translated into their corresponding bins
# purchase_data_unique_SN = purchase_data[["SN", "Age"]]

# purchase_data_unique_SN = purchase_data.drop_duplicates() 
# age_gender_unique_df["age ranges"] = pd.cut(purchase_data_unique_SN["Age"], hp_bins, labels=hp_labels)
# age_gender_unique_df
# grouped_age_gender_unique_df = age_gender_unique_df.groupby("age ranges")
# grouped_age_gender_unique_df[["Age"]].count()
# first_column_df = pd.DataFrame(grouped_age_gender_unique_df[["Age"]].count())
# #create ned df with second column, percentages
# calute_percent_df = 100*(first_column_df)/Total_Players

# df_merged = first_column_df.merge(calute_percent_df, how="outer", left_index=True, right_index=True)
# df_merged

# df_merged = df_merged.rename(columns={"Age_x":"Total Count", "Age_y":"Percentage of Players"})

# df_merged["Percentage of Players"] = df_merged["Percentage of Players"].apply("{:,.2f}".format)
# df_merged

In [13]:
age_group = purchase_data[["SN", "Gender","Age"]]
# age_group = age_group.drop_duplicates()
# age_group
# age_group["Age"]= age_group["Age"].astype("int64")
# bins = [0, 10, 15, 20, 25, 30, 35, 40, max(age_group["Age"])]

bins = [0, 9, 14, 19, 24, 29, 34, 39, max(age_group["Age"])]
names = ["<10","10-14","15-19","20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data_mod = purchase_data


# purchase_data_mod
purchase_data_mod["Age Group"] = pd.cut(age_group["Age"],bins, labels = names, duplicates="drop")
purchase_data_mod

purchase_data_mod = purchase_data_mod[["SN","Age","Age Group","Gender"]]
# newframe = purchase_data_mod[purchase_data_mod["Age Group"].isnull()]
# newframe
purchase_data_mod = purchase_data_mod.drop_duplicates()
# test_frame
purchase_data_mod_grouped = purchase_data_mod.groupby("Age Group")
age_demo_total_count = purchase_data_mod_grouped.count()
age_demo_total_count.head(100)
age_demo_total_count = age_demo_total_count["SN"]
total_players = age_demo_total_count.sum()
age_demo_total_count =age_demo_total_count.to_frame()
age_demo_total_count["Percentage of Players"] = (age_demo_total_count["SN"]/ total_players) *100
age_demo_total_count["Percentage of Players"] = age_demo_total_count["Percentage of Players"].map("{:.2f}".format)
age_demo_total_count = age_demo_total_count.rename( columns={"SN":"Total Count"} )
age_demo_total_count

           Total Count Percentage of Players
Age Group
<10                 17                  2.95
10-14               22                  3.82
15-19              107                 18.58
20-24              258                 44.79
25-29               77                 13.37
30-34               52                  9.03
35-39               31                  5.38
40+                 12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:

purchase_data_mod.head()

purchase_analysis_by_age = purchase_data_mod[["Age","Price"]]
# 
purchase_analysis_by_age_grouped = purchase_analysis_by_age.groupby("Age")

average_purchase_price = purchase_analysis_by_age_grouped.mean()
# total_purchase_value = grouped_by_age.sum()
# purchase_count = grouped_by_age.count()

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
top_spenders = purchase_data[["SN", "Price"]]
top_spenders_grouped = top_spenders.groupby("SN")

avg_purchase_price = top_spenders_grouped.mean()
purchase_count = top_spenders_grouped.count()
total_purchase_value = top_spenders_grouped.sum()
# top_spenders = purchase_data[["SN", "Price", "Age Group"]]
top_spenders = top_spenders.set_index("SN")
# top_spenders.head()
top_spender_summary = pd.merge(avg_purchase_price,purchase_count, on="SN")
top_spender_summary = top_spender_summary.rename(columns={"Price_x" : "Average Purchase Price", "Price_y" : "Purchase Count"})
top_spender_summary = pd.merge(top_spender_summary,total_purchase_value, on = "SN")
top_spender_summary = top_spender_summary.rename(columns={"Price":"Total Purchase Value"})
top_spender_summary = top_spender_summary.sort_values("Total Purchase Value",ascending=False)

top_spender_summary["Average Purchase Price"] = top_spender_summary["Average Purchase Price"].map("${:.2f}".format)
top_spender_summary["Total Purchase Value"] = top_spender_summary["Total Purchase Value"].map("${:.2f}".format)

top_spender_summary.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
purchase_data.columns

In [ ]:
most_popular_items = purchase_data[["Item ID", "Item Name" ,"Price"]]
# most_popular_items = most_popular_items.set_index("Item ID")
grouped = most_popular_items.groupby(["Item ID","Item Name"])
purchase_count = grouped.count()
# del purchase_count["Price"]
purchase_count
# most_popular_items["Purchase Count"] = purchase_count["Item Name"]

##wht getting duplicate values?
most_popular_items =pd.merge(most_popular_items,purchase_count, on = "Item Name", how = 'right')
# # most_popular_items = most_popular_items.rename({"Item Name_x":"Item Name", "Item Name_y":"Purchase Count"})

# most_popular_items
most_popular_items = most_popular_items.drop_duplicates()
most_popular_items = most_popular_items.rename(columns={"Price_x": "Item Price", "Price_y": "Purchase Count"})
most_popular_items["Total Purchase Value"] = most_popular_items["Item Price"] * most_popular_items["Purchase Count"]
most_popular_items1 = most_popular_items["Total Purchase Value"].astype("int64", copy = True)
most_popular_items = most_popular_items.sort_values(by="Purchase Count", ascending=False).rename(columns={"Price_x": "Price", "Price_y": "Purchase Count"}).set_index(["Item ID", "Item Name"])
most_popular_items["Item Price"] = most_popular_items["Item Price"].map("${:.2f}".format)
most_popular_items["Total Purchase Value"] = most_popular_items["Total Purchase Value"].map("${:.2f}".format)
most_popular_items.head(15)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
most_popular_items = most_popular_items.sort_values(by="Total Purchase Value", ascending=False)
most_popular_items.head(50)