In [2]:
# Import Dependencies
import pandas as pd

In [31]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data

# data = {
#     "Frame": ["Ornate","Classical","Modern","Wood","Cardboard"],
#     "Price": [15.0,12.5,10,5,1],
#     "Sales": [100,200,150,300,"N/A"]
    
# }

data = [{"Frame":"Ornante", "Price":15.00, "Sales":100},
       {"Frame":"Classical", "Price":12.50, "Sales":200},
       {"Frame":"Modern", "Price":10.00, "Sales":150},
       {"Frame":"Wood", "Price":5.00, "Sales":300},
       {"Frame":"Cardboard", "Price":1.00, "Sales":"NA"}]


dataframe = pd.DataFrame(data)
dataframe

       Frame  Price Sales
0    Ornante   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0    NA

In [24]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data